

.greeting {
    color: #444444;
    text-align: left;
}

.introParagraph {
    color: #444444;
    font-size: 20px;
    font-weight: lighter;
    text-align: left;
    line-height: 28px;
}

.introduction {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.blogLink {
    color: #FF9900;
}

.projectsLink {
    color: #FF9900;
}